dt {
    font-weight: bold;
}
.top-nav {
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 1000;
}

.profile-link {
  font-size: 16px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}

.profile-link:hover {
  text-decoration: underline;
}

.logout-form {
  margin-top: 10px;
}

.error {
  color: red;
  font-weight: bold;
  margin-bottom: 10px;
}
