<main>
    <h1>{{title}}</h1>
    <p>Welcome, We will help you to get information about Criminal Activites reported by others</p>

    <h1>Recent Reports</h1>
    <ul>
        {{#each (limit reports 3)}}
        <li><a href="reports/{{_id}}">{{title}}</a></li>
        {{else}}
        <p>No reports are available.</p>
        {{/each}}
    </ul>
</main>
