<main>
    <h1>{{title}}</h1>
    <p>Welcome to Crime Reporter. Here, you can post and view reports about crimes happening anywhere at any time.</p>
    <p>To get started, click on one of the above links. Alternatively, the three most recent reports are available below:</p>

    <h1>Recent Reports</h1>
    <ul>
        {{#each (limit reports 3)}}
        <li><a href="/reports/{{_id}}">{{title}}</a></li>
        {{else}}
        <li>No reports are available.</li>
        {{/each}}
    </ul>
</main>
