<main>
    <h1>List of Reports</h1>
    <ul>
        {{#each reports}}
            <li><a href="reports/{{_id}}">{{title}}</a></li>
        {{else}}
            <p>No reports are available.</p>
        {{/each}}
    </ul>
</main>
