<main>
    <h1>List of Reports</h1>
    <ul>
        {{#each reports}}
            <li><a href="/reports/{{_id}}">{{title}}</a></li>
        {{else}}
            <li>No reports are available.</li>
        {{/each}}
    </ul>
</main>
