<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>
    <body>
      {{#if user}}
            <div class="top-nav">
                <a href="/profile" class="profile-link">Profile</a>
            </div>
        {{/if}}

        {{{body}}}
        <script src="/public/js/main.js"></script>
    </body>
</html>
